<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bienvenue dans ton espace Entreprise</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
</head>
<body>
<section id="header" th:insert="fragments/header :: header">Header</section>
<section id="titreAccueil">
    <div class="container">
        <div class="titreAccueil">
            <h1>Bienvenue dans ton espace Entreprise<span th:text="${#authentication.name}"></span></h1>
            <h2>Voici les pages sur lesquelles tu peux te rendre</h2>
        </div>
    </div>
</section>
<section id="boutonOffres">
    <div class="container">
        <div class="boutonOffres center">
            <h2 id="boutonAfficherOffres">Afficher les offres de stage</h2>
            <h2 id="boutonAjouterUneOffre">Ajouter une offre <br/>de stage</h2>
            <h2 id="boutonModifierProfilEntreprise">Modifier mon <br/>profil</h2>
        </div>
    </div>
</section>
<script th:src="@{/scripts/entreprise.js}" src="../../scripts/entreprise.js"></script>
</body>
</html>
