<!DOCTYPE HTML>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Header</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
</head>
<body>
<div th:fragment="header" class="container" >
    <div class="navbar row">
        <div class="gauche">
            <a href="/">Accueil</a>
            <a href="/offreStage/show">Les offres de stage</a>
            <a href="/login" sec:authorize="isAnonymous()">Se connecter</a>
        </div>

        <div class="droite" sec:authorize="isAuthenticated()">
            <span th:text="${#authentication.name}">Untel</span>
            <a onclick="document.forms['logoutForm'].submit()">Logout</a>
            <form id="logoutForm" method="POST" th:action="@{/logout}" action="#">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>