body{
	padding: 0;
	margin: 0;
	background-color: #E6E7ED;
}

.container{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

div.containerForm{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

img.iconeTitre{
	position: absolute;
	width: 200px;
	right: 30px;
}

nav{
	display: flex;
	margin: 50px 0;
}

a.retour{
	padding: 5px 15px;
	border-radius: 10px;

	color: #000055;
	background-color: #E6E7ED;
	text-decoration: none;
	font-family: "Nunito Sans", sans-serif;
	font-size: 1.2em;
	font-weight: 700;

	box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.75),
	3px 3px 6px rgba(0, 0, 0, 0.3);
}

a.retour:hover{
	box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.75),
	inset 3px 3px 6px rgba(0, 0, 0, 0.3);
}

div.titre{
	margin: 20px 0;
}

div.grosTitre h1{
	margin-top: 100px;
	font-size: 80pt;
	font-weight: 900;
	text-align: left;
}

div.grosTitre span{
	font-size: 80pt;
	font-weight: 900;
	color: #DF303D;
}

h1{
	margin: 0;
	color: #000055;
	font-family: "Nunito Sans", sans-serif;
	font-size: 2.5em;
	text-align: center;
}

label{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
	color: #000055;
	font-size: 24px;
}

select{
	width: 100%;
	font-size: 18px;
	padding: 10px 0;
	margin: 20px 0;
	text-align: center;
	border-radius: 10px;
	font-family: "Nunito Sans", sans-serif;
	color: #000055;
	background-color: #E6E7ED;
}

input{
	width: 100%;
	font-size: 18px;
	padding: 10px 0;
	margin: 20px 0;
	text-align: center;
	border-radius: 30px;
	font-family: "Nunito Sans", sans-serif;
	color: #000055;
	border: 0;
	background-color: #E6E7ED;
	box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.75),
	inset 3px 3px 6px rgba(0, 0, 0, 0.3);
}

textarea{
	resize: none;
	width: 100%;
	font-size: 18px;
	padding: 10px 20px;
	margin: 20px 0;
	border-radius: 30px;
	font-family: "Nunito Sans", sans-serif;
	color: #000055;
	border: 0;
	background-color: #E6E7ED;
	box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.75),
	inset 3px 3px 6px rgba(0, 0, 0, 0.3);
}

input[type="submit"]{
	background-color: #000055;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

div.dateDebut, div.dateFin{
	width: 45%;
}


/*------------------------------------------------
 Mon profil
------------------------------------------------*/
div.monProfil{
	margin-top: 100px;
}
nav a{
	text-decoration: none;
	font-family: "Nunito Sans", sans-serif;
	color: #000055;
	font-size: 24px;
	font-weight: 600;
	margin-right: 100px;
}

nav a:hover{
	text-decoration: underline;
}

div.photo{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.photo img{
	max-height: 200px;
}

div.photo p{
	width: 100%;
	text-align: center;
	font-family: "Nunito Sans", sans-serif;
	color: #888888;
	font-size: 24px;
	font-weight: bold;
}

div.informations{
	width: 50%;
	background-color: #E6E7ED;
	border-radius: 30px;
	box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.75),
	3px 3px 6px rgba(0, 0, 0, 0.3);

}

table{
	padding: 10px;
}

td{
	font-family: "Nunito Sans", sans-serif;
	font-size: 20px;
	color: #000055;
	font-weight: bold;
	width: 50%;
	padding: 20px 0;
}

td:nth-child(2n-1){
	color: #DF303D;
	font-size: 24px;
}
