@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body{
	padding: 0;
	margin: 0;
	background-color: #E6E7ED;
}

.container{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

div.containerForm{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

img.iconeTitre{
	position: absolute;
	width: 200px;
	right: 30px;
}

nav{
	display: flex;
	margin: 50px 0;
}

a.retour, .ajouterSupprimer a, .postuler a{
	padding: 5px 15px;
	border-radius: 10px;

	color: #000055;
	background-color: #E6E7ED;
	text-decoration: none;
	font-family: "Nunito Sans", sans-serif;
	font-size: 1.2em;
	font-weight: 700;

	box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.75),
	3px 3px 6px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

a.retour:hover, .ajouterSupprimer a:hover, .postuler a:hover{
	box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.75),
	inset 3px 3px 6px rgba(0, 0, 0, 0.3);
}

ul#body li{
	padding-top: 20px;
	font-size: 1.5em;
}

div.titre{
	margin: 20px 0;
}

div.grosTitre h1{
	margin-top: 100px;
	font-size: 80pt;
	font-weight: 900;
	text-align: left;
}

div.grosTitre span{
	font-size: 80pt;
	font-weight: 900;
	color: #DF303D;
}

h1{
	margin: 0;
	color: #000055;
	font-family: "Nunito Sans", sans-serif;
	font-size: 2.5em;
	text-align: center;
}

label{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
	color: #000055;
	font-size: 24px;
}

select{
	width: 100%;
	font-size: 18px;
	padding: 10px 0;
	margin: 20px 0;
	text-align: center;
	border-radius: 10px;
	font-family: "Nunito Sans", sans-serif;
	color: #000055;
	background-color: #E6E7ED;
}

input{
	width: 100%;
	font-size: 18px;
	padding: 10px 0;
	margin: 20px 0;
	text-align: center;
	border-radius: 30px;
	font-family: "Nunito Sans", sans-serif;
	color: #000055;
	border: 0;
	background-color: #E6E7ED;
	box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.75),
	inset 3px 3px 6px rgba(0, 0, 0, 0.3);
	outline: none;
}

textarea{
	resize: none;
	width: 100%;
	font-size: 18px;
	padding: 10px 20px;
	margin: 20px 0;
	border-radius: 30px;
	font-family: "Nunito Sans", sans-serif;
	color: #000055;
	border: 0;
	background-color: #E6E7ED;
	box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.75),
	inset 3px 3px 6px rgba(0, 0, 0, 0.3);
}

input[type="submit"]{
	background-color: #000055;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

div.dateDebut, div.dateFin{
	width: 45%;
}

/*
------------------------------------------------
------------------------------------------------
Navbar
------------------------------------------------
------------------------------------------------
*/

div.navbar{
	padding: 20px;
	background-color: #E6E7ED;
}

div.navbar a{
	margin: 0 30px;
	text-decoration: none;
	font-family: "Nunito Sans", sans-serif;
	color: #000055;
	font-size: 1.5em;
	font-weight: 600;
	background: linear-gradient(to top, rgb(0, 0, 85) 0%, rgb(0, 0, 85) 2px, transparent 3px) no-repeat;
	background-size: 0% 100%;
	transition: background-size 0.5s;
}

div.navbar a:hover{
	background-size: 100% 100%;
}


/*
------------------------------------------------
------------------------------------------------
Mon profil étudiant
------------------------------------------------
------------------------------------------------
*/
div.monProfil{
	margin-top: 100px;
}
nav a{
	text-decoration: none;
	font-family: "Nunito Sans", sans-serif;
	color: #000055;
	font-size: 24px;
	font-weight: 600;
	margin-right: 100px;
}

nav a:hover{
	text-decoration: underline;
}

div.photo{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.photo img{
	max-height: 200px;
}

div.photo p{
	width: 100%;
	text-align: center;
	font-family: "Nunito Sans", sans-serif;
	color: #888888;
	font-size: 24px;
	font-weight: bold;
}

div.informations{
	width: 50%;
	background-color: #E6E7ED;
	border-radius: 30px;
	box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.75),
	3px 3px 6px rgba(0, 0, 0, 0.3);

}

div.informations table{
	padding: 10px;
}

div.informations td{
	font-family: "Nunito Sans", sans-serif;
	font-size: 20px;
	color: #000055;
	font-weight: bold;
	width: 50%;
	padding: 20px 0;
}

div.informations td:nth-child(2n-1){
	color: #DF303D;
	font-size: 24px;
}


/*
------------------------------------------------
------------------------------------------------
Afficher Offre Stage
------------------------------------------------
------------------------------------------------
*/
section#ajouterSupprimer h3{
	color: #000055;
	font-family: "Nunito Sans", sans-serif;
}

div.offreEtActions{
	margin-bottom: 40px;
}

div.offre{
	width: 85%;
	border-radius: 30px;
	background-color: #E6E7ED;
	color: #000055;
	font-family: "Nunito Sans", sans-serif;
	box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.75),
	10px 10px 20px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

div.offre:active{
	box-shadow: inset -10px -10px 20px rgba(255, 255, 255, 0.75),
	inset 10px 10px 20px rgba(0, 0, 0, 0.3);
}

div.actionsSurOffre{
	width: 15%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	text-align: center;
}

div.actionsSurOffre div{
	width: 75%;
	margin: 10px auto;
}

div.actionsSurOffre img{
	border-radius: 15px;
}

div.enteteOffre{
	padding: 15px 50px;
}

div.titreOffre{
	width: 90%;
}

div.titreOffre i, div.titreOffre b{
	color: #888899;
}

section#toutesLesOffres img{
	width: 60px;
	height: 60px;

}

section#toutesLesOffres h2{
	font-size: 2em;
	padding: 0;
	margin: 0;
}

div.descriptionOffre{
	padding: 0 50px;
}

div.descriptionOffre p{
	text-align: justify;
}

div.supprimerOffre{
	width: 50%;
	border-radius: 20px;
	/*background-color: rgb(180, 49, 48);*/
}

/*
------------------------------------------------
------------------------------------------------
Login
-----------------------------------------------
-----------------------------------------------
*/
section#formulaireLogin form,
section#formulaireCreerUnCompte form,
section#modifierProfil form{
	width: 450px;
	padding: 50px;
	border-radius: 50px;
	margin: 10vh auto 0 auto;
	box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.75),
	10px 10px 20px rgba(0, 0, 0, 0.3);
}

section#formulaireCreerUnCompte form,
section#modifierProfil form{
	width: 600px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

section#modifierProfil form{
	width: 800px;
}

section#modifierProfil div{
	margin-bottom: 30px;
}

section#formulaireLogin input[type="text"],
section#formulaireLogin input[type="password"]{
	text-align: left;
	padding-left: 20px;
}

div.lienCreerUnCompte{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

section#formulaireLogin a{
	text-decoration: none;
}

section#formulaireLogin p{
	width: 94%;
	padding: 10px;
	border: none;
	border-radius: 20px;
	margin-top: 20px;
	background-color: #E6C222;
	color: #FFFFFF;
	font-family: "Nunito Sans", sans-serif;
	font-size: 1.2em;
	text-align: center;
	cursor: pointer;
}

/*
------------------------------------------------
------------------------------------------------
Liste tous les étudiants
------------------------------------------------
------------------------------------------------
*/

section#filtres div.filtres{
	align-items: center;
	justify-content: space-around;
}

section#filtres div.boutons{
	width: 40%;
	display: flex;
	justify-content: center;
}

section#filtres div.rechercheEtudiant{
	width: 40%;
}

section#filtres button{
	padding: 10px 20px;
	border: none;
	border-radius: 30px;
	margin: 20px;
	background-color: #E6E7ED;
	color: #000055;
	font-family: "Nunito Sans", sans-serif;
	font-size: 1.1em;
	box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.75),
	3px 3px 6px rgba(0, 0, 0, 0.3);
	outline: none;
}

section#filtres input[type="text"]{
	width: 100%;
	outline: none;
}

div.tousLesEtudiants{
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	border-radius: 50px;
	box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.75),
	10px 10px 20px rgba(0, 0, 0, 0.3);

}

section#tousLesEtudiants table{
	width: 90%;
	border-collapse: collapse;
}

section#tousLesEtudiants td{
	padding: 20px;
	border-bottom: 1px solid #545352;
	color: #000055;
	font-weight: 600;
	font-family: "Nunito Sans", sans-serif;
	font-size: 1.1em;
}

section#tousLesEtudiants td:first-child{
	text-transform: uppercase;
}
