body{
	padding: 0;
	margin: 0;
	background-color: #E6E7ED;
}

div.container{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

div.containerForm{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

a.retour{
	padding: 5px 15px;
	border-radius: 10px;

	color: #000055;
	background-color: #E6E7ED;
	text-decoration: none;
	font-family: "Nunito Sans", sans-serif;
	font-size: 1.2em;
	font-weight: 700;

	box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.75),
	3px 3px 6px rgba(0, 0, 0, 0.3);
}

a.retour:hover{
	box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.75),
	inset 3px 3px 6px rgba(0, 0, 0, 0.3);
}

div.titre{
	margin: 20px 0;
}

h1{
	margin: 0;
	color: #000055;
	font-family: "Nunito Sans", sans-serif;
	font-size: 2em;
	text-align: center;
}

label{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
	color: #000055;
	font-size: 24px;
}

select{
	width: 100%;
	font-size: 18px;
	padding: 10px 0;
	margin: 20px 0;
	text-align: center;
	border-radius: 10px;
	font-family: "Nunito Sans", sans-serif;
	color: #000055;
	background-color: #E6E7ED;
}

input{
	width: 100%;
	font-size: 18px;
	padding: 10px 0;
	margin: 20px 0;
	text-align: center;
	border-radius: 30px;
	font-family: "Nunito Sans", sans-serif;
	color: #000055;
	border: 0;
	background-color: #E6E7ED;
	box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.75),
	inset 3px 3px 6px rgba(0, 0, 0, 0.3);
}

textarea{
	resize: none;
	width: 100%;
	font-size: 18px;
	padding: 10px 20px;
	margin: 20px 0;
	border-radius: 30px;
	font-family: "Nunito Sans", sans-serif;
	color: #000055;
	border: 0;
	background-color: #E6E7ED;
	box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.75),
	inset 3px 3px 6px rgba(0, 0, 0, 0.3);
}

input[type="submit"]{
	background-color: #000055;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

div.dateDebut, div.dateFin{
	width: 45%;
}
