<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
	<title>Liste des offres de stage</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<section id="header" th:insert="fragments/header :: header">Header</section>
<section id="titre">
	<div class="container">
		<div class="titre">
			<h1>Les offres de stages</h1>
		</div>
	</div>
</section>
<section id="ajouterSupprimer">
	<div class="container">
		<div class="ajouterSupprimer">
			<div class="row">
				<!--/* On appelle l'URL 'add' du contôleur */-->
				<a th:href="@{add}" href='formulaireOffreStage.html'>Ajouter une offre</a>
			</div>
			<!--/* On affiche un éventuel message d'erreur */-->
			<h3 th:text="${message}">Message de succès ou d'erreur</h3>
		</div>
	</div>
</section>

<section id="toutesLesOffres">
	<div class="container">
		<div class="toutesLesOffres">
			<div class="offreEtActions row" th:each="o: ${offreStage}">
				<div class="offre">
					<div class="row enteteOffre">
						<img src="https://www.png-gratuit.com/img/cercle-noir-fond-transparent.png" alt="logo entreprise"></img>
						<div class="titreOffre">
							<h2 th:text="${o.titre}">Titre de l'offre qui peut être relativement long</h2>
							<i class="latin" th:if="${o.proposeur == NULL}">Anonyme</i>
							<i class="latin" th:unless="${o.proposeur == NULL}" th:text="${o.proposeur.nom}">Nom de l'entreprise</i>
							<span>||</span>
							<b th:text="${o.dateDebut}">Date de début</b>
							<span>/</span>
							<b th:text="${o.dateFin}">Date de fin</b>
						</div>
					</div>
					<div class="descriptionOffre">
						<p th:text="${o.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis nunc eget ligula feugiat, ornare lobortis nisi tempor. Sed odio enim, congue sed venenatis nec, egestas quis turpis. Sed et felis lacus. Aenean faucibus dolor eu sem vestibulum consequat.</p>
					</div>
				</div>
                                <!--<div sec:authorize="hasRole('ROLE_USER')">
                                    <p th:text="${o.etatOffre}">Etat de l'offre</p>
                                    <div>
                                        <label for="etatOffre">Etat de l'offre</label>
                                        <select name="etatOffre" id="etatOffre">
                                            <option value="1" th:text="${o.etatOffre.ENATTENTEDEVALIDATIONADMIN}"></option>
                                            <option value="2" th:text="${o.etatOffre.ACCEPTEE}"></option>
                                            <option value="3" th:text="${o.etatOffre.REFUSEE}"></option>
                                            <option value="4" th:text="${o.etatOffre.LIBRE}"></option>
                                        </select>
                                    </div>
                                </div>-->
				<div class="actionsSurOffre">
					<div class="postuler" sec:authorize="hasRole('ROLE_USER')">
						<a th:href="@{postuler(id=${o.id})}">Postuler</a>
					</div>
					<div class="supprimerOffre" sec:authorize="hasRole('ROLE_ADMIN')">
						<a th:href="@{delete(id=${o.id})}">
							<img th:src="@{/images/trash.png}" src="trash.png" alt="supprimer">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>
