<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Choisir un rôle</title>
</head>
<body>
<section id="choixUtilisateur" sec:authorize="isAnonymous()">
    <div class="container">
        <div class="choixUtilisateur">
            <h2 id="jeSuisUnEtudiant">Je suis un étudiant</h2>
            <h2 id="jeSuisUneEntreprise">Je suis une entreprise</h2>
        </div>
    </div>
</section>
<section id="dejaUtilisateur" sec:authorize="isAuthenticated()">
    <div class="container">
        <div class="dejaUtilisateur">
            <h2>Tu es déjà connecté, tu n'as pas besoin de créer de compte<br /> <a th:href="@{/}">Retour au menu</a></h2>

        </div>
    </div>
</section>
<script th:src="@{/scripts/choixUtilisateur.js}" src="../static/scripts/choixUtilisateur.js"></script>
</body>
</html>