<!DOCTYPE HTML>
<!--/* 
	Information transmise par le contrôleur :
	- offreStage : l'offre de stage à éditer
*/-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ajouter une offre</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>	
	</head>
	<body>
		<h1>Ajouter une offre</h1>
		<!--/* Au revient au contrôleur, avec la méthode POST */-->
		<!--/* th:object définit quel est l'objet édité par ce formulaire */-->
		<form th:object="${offreStage}" method="POST" th:action="@{save}">
			<div class="column">
                            <label for="description">Description:</label>
                            <input type="text" th:field="*{description}" placeholder="Description de l'offre"/>				
                        </div>
                        <div class="column">
				<label for="nom">Secteur:</label>
				<!--/* th:field définit quel champ de l'objet est édité par cette zone de saisie */-->
				<input type="text" th:field="*{Titre}" placeholder="Titre de l'offre"/>
                                <hr/>
				<input type="submit" value="Enregistrer" /> <input type="reset" value="Réinitialiser" />
			</div>
			<div class="column">
				<label for="description">Description:</label>
				<input type="text" th:field="*{description}" placeholder="Description de l'offre"/>				
			</div>
                        <div class="column">
				<label for="dateDebut">Date de début:</label>
				<input type="text" th:field="*{dateDebut}" placeholder="Date de début"/>
                                <label for="dateFin">Date de fin:</label>
				<input type="text" th:field="*{dateFin}" placeholder="Date de fin"/>
			</div>
		</form>		
		<hr/>
		<a th:href="@{/}" href="../static/index.html">Retour au menu</a>
		<hr/>
	</body>
</html>