<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Page de connexion</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    </head>

    <body>
    <section id="formulaireLogin">
        <div class="formulaireLogin">
            <form method="POST" th:action="@{/login}" action="#">

                <div th:classappend="${#strings.isEmpty(error) ? 'has-error' : ''}">
                    <span th:text="${message}">Message</span>
                    <label for="identifiant">Identifiant</label>
                    <input id="identifiant" name="username" type="text"/>
                    <label for="motDePasse">Mot de passe</label>
                    <input id="motDePasse" name="password" type="password"/>
                    <span th:text="${error}">Message d'erreur</span>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="submit" value="Connexion"/>

                    </hr>
                        
                    <div class="lienCreerUnCompte">
                        <a th:href="@{/registration}" href="registration.html">
                            <p>Créer un compte</p>
                        </a>
                    </div>
                </div>
            </form>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    </section>
    </body>
</html>
