<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Document</title>
</head>
<body>
<section id="formulaireLogin">
    <div class="formulaireLogin">
        <form action="">
            <label for="identifiant">Identifiant</label>
            <input id="identifiant" type="text" name="identifiant">
            <label for="motDePasse">Mot de passe</label>
            <input id="motDePasse" type="password" name="motDePasse">
            <input type="submit" value="Connexion">

            <hr>

            <div class="lienCreerUnCompte">
                <a href="creerUnCompte.html">
                    <p>Créer un compte</p>
                </a>
            </div>
        </form>
    </div>p
</section>
</body>
</html>
