<!DOCTYPE HTML>
<!--/* 
	Le contrôleur transmet deux informations à cette vue :
		- monProfil : la liste de mes infos
		- message : un éventuel message d'erreur ou d'information
*/-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Mon Profil</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>	
	</head>
	<body>
		<h1>Mon Profil</h1>
			
                <div>
                        <div th:each="p: ${personne}">
                            <div>
                                <span th:text="${p.nom}">Nom de la personne</span>
                                <span th:text="${p.prenom}">Prénom de la personne</span>
                            </div>
                            <div th:text="${p.adresse}">Adresse de la personne</div>
                            <div th:text="${p.telephone}">Numéro de téléphone de la personne</div>
                            <div th:text="${p.email}">Email de la personne</div>
                            
                        </div>
                </div>    
		<hr/>
		<a th:href="@{/}" href="../static/index.html">Retour au menu</a>
		<hr/>
	</body>
</html>