<!DOCTYPE HTML>
<!--/* 
	Le contrôleur transmet deux informations à cette vue :
		- monProfil : la liste de mes infos
		- message : un éventuel message d'erreur ou d'information
*/-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Mon Profil</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>	
	</head>
	<body>
		<h1>Mon Profil</h1>
			
                <table>
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Entreprise</th>
                            <th>Description</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="o: ${offreStage}">
                            <td th:text="${o.titre}">Titre de l'offre</td>
                            <td>
                                <span th:if="${o.proposeur == NULL}">Anonyme</span>
                                <span th:unless="${o.proposeur == NULL}" th:text="${o.proposeur.nom}">Nom de l'entreprise</span>
                            </td>
                            <td th:text="${o.description}">Description de l'offre</td>
                            <td th:text="${o.dateDebut}">Date de début</td>
                            <td th:text="${o.dateFin}">Date de fin</td>
                            <td><a th:href="@{delete(id=${o.id})}">Supprimer l'offre n° [[${o.id}]]</a></td>
                        </tr>
                    </tbody>
                </table>
		<hr/>
		<a th:href="@{/}" href="../static/index.html">Retour au menu</a>
		<hr/>
	</body>
</html>