<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Page Utilisateur</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    </head>

    <body>
        <div class="container">
            <h2 class="form-heading">Page Utilisateur</h2>
            <div sec:authorize="hasRole('ROLE_ADMIN')"> Salut à toi administrateur</div>
            <div sec:authorize="hasRole('ROLE_USER')"> Salut à toi utilisateur</div>
            <div sec:authorize="isAuthenticated()">Je suis identifié : </div>
            Je suis l'administrateur : <div sec:authentication="principal.authorities"></div>
            <div>Votre email est : <span sec:authentication="principal.email">ab.cd@xyz.com</span></div>
            <div>Cette page est
                <a href="pageAdmin.html" th:href="@{/admin/pageAdmin}">réservée aux administrateurs</a>
            </div>
            <a href="welcome.html" th:href="@{/}">Back to Home Page</a>
        </div>
    </body>
</html>
