<!DOCTYPE HTML>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des étudiants</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<section id="header" th:insert="fragments/header :: header">Header</section>
<section id="titre">
    <div class="container">
        <div class="titre">
            <h1>Tous les stages</h1>
        </div>
    </div>
</section>
<section id="filtres">
    <div class="container">
        <div class="filtres row">
            <div class="boutons">
                <!--
                    <a href="?nom" type="checkbox">Nom</a>
                    <a href="?prenom">Prénom</a>
                    <a href="?anneeEtude">Année d'étude</a>
                -->
                <button type="button" id="nom">Nom</button>
                <button type="button" id="prenom">Entreprise</button>
                <button type="button" id="anneeEtude">Année d'étude</button>
                <!--
                    <form action="#" method="GET">
                        <div>
                            <input type="checkbox" id="filtreNom" name="nom">
                            <label for="filtreNom">Nom</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filtrePrenom" name="prenom">
                            <label for="filtrePrenom">Prénom</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filtreAnneeEtude" name="anneeEtude">
                            <label for="filtreAnneeEtude">Année d'étude</label>
                        </div>
                    </form>
                -->
            </div>

            <div class="rechercheEtudiant">
                <input type="text" name="rechercheStage" placeholder="Recherche un stage">
            </div>
        </div>
    </div>
</section>
<section id="tousLesEtudiants">
    <div class="container">
        <div class="tousLesEtudiants">
            <table>
                <tr th:each="s: ${stages}">
                    <td th:text="${s.titre}">Titre</td>
                    <td th:text="${s.stagiaire.nom}">Nom du stagiaire</td>
                    <td th:text="${s.entrepriseAccueil.nom}">Entreprise</td>
                </tr>
            </table>
        </div>
    </div>
</section>
<script th:src="@{/scripts/tousLesEtudiants.js}" src="../static/scripts/tousLesEtudiants.js"></script>
</body>
</html>